<% include header %>

<table class="table table-striped">
  <tr>
    <th>Report ID</th>
    <th>CID</th>
    <th>Timestamp</th>
    <th>Signature</th>
    <th>Event Flag</th>
  </tr>
<% reports.forEach(function(report) { %>
  <tr>
    <td>
      <a href=<%= `/report/${report.nidd_report_id}` %> class="reportIdLink">
        <%= report.nidd_report_id %>
      </a>
    </td>
    <td><%= report.cid %></td>
    <td><%= `${report.timestamp.toLocaleDateString()} ${report.timestamp.toLocaleTimeString()}` %></td>
    <td><%= report.signature %></td>
    <td><%= report.sig_name %></td>
  </tr>
<% }) %>
</table>

<% include footer %>
