<% include header %>

<% const cameras = tables.cameras %>
<% const workstations = tables.workstations %>
<% const pcusers = tables.pcusers %>
<% const jobtitles = tables.jobtitles %>
<% const buildings = tables.buildings %>
<% const rooms = tables.rooms %>

<table class="table table-striped">
  <caption>Cameras</caption>
  <tr>
    <th>camera_id</th>
    <th>hostname</th>
    <th>port</th>
    <th>user</th>
    <th>password</th>
  </tr>
<% cameras.forEach(function(camera) { %>
  <tr>
    <td><%= camera.camera_id %></td>
    <td><%= camera.hostname %></td>
    <td><%= camera.port %></td>
    <td><%= camera.user %></td>
    <td><%= camera.password %></td>
  </tr>
<% }) %>
</table>

<hr>

<table class="table table-striped">
  <caption>Workstations</caption>
  <tr>
    <th>workstation_id</th>
    <th>ip</th>
    <th>pcuser</th>
    <th>camera_id</th>
    <th>p_coordinate</th>
    <th>t_coordinate</th>
    <th>z_coordinate</th>
    <th>preset</th>
  </tr>
<% workstations.forEach(function(workstation) { %>
  <tr>
    <td><%= workstation.workstation_id %></td>
    <td><%= workstation.ip %></td>
    <td><%= workstation.pcuser_id %></td>
    <td><%= workstation.camera_id %></td>
    <td><%= workstation.p_coordinate %></td>
    <td><%= workstation.t_coordinate %></td>
    <td><%= workstation.z_coordinate %></td>
    <td><%= workstation.preset %></td>
  </tr>
<% }) %>
</table>

<table class="table table-striped">
  <caption>PC Users</caption>
  <tr>
    <th>pcuser_id</th>
    <th>first_name</th>
    <th>last_name</th>
    <th>user_id</th>
    <th>job_title_id</th>
    <th>room_id</th>
    <th>phone</th>
    <th>email</th>
  </tr>
<% pcusers.forEach(function(pcuser) { %>
  <tr>
    <td><%= pcuser.pcuser_id %></td>
    <td><%= pcuser.first_name %></td>
    <td><%= pcuser.last_name %></td>
    <td><%= pcuser.user_id %></td>
    <td><%= pcuser.job_title_id %></td>
    <td><%= pcuser.room_id %></td>
    <td><%= pcuser.phone %></td>
    <td><%= pcuser.email %></td>
  </tr>
<% }) %>
</table>

<table class="table table-striped">
  <caption>Job Titles</caption>
  <tr>
    <th>job_title_id</th>
    <th>job_title</th>
  </tr>
<% jobtitles.forEach(function(jobtitle) { %>
  <tr>
    <td><%= jobtitle.job_title_id %></td>
    <td><%= jobtitle.job_title %></td>
  </tr>
<% }) %>
</table>

<table class="table table-striped">
  <caption>Buildings</caption>
  <tr>
    <th>building_id</th>
    <th>building</th>
  </tr>
<% buildings.forEach(function(building) { %>
  <tr>
    <td><%= building.building_id %></td>
    <td><%= building.building %></td>
  </tr>
<% }) %>
</table>

<table class="table table-striped">
  <caption>Rooms</caption>
  <tr>
    <th>room_id</th>
    <th>room</th>
    <th>building_id</th>
  </tr>
<% rooms.forEach(function(room) { %>
  <tr>
    <td><%= room.room_id %></td>
    <td><%= room.room %></td>
    <td><%= room.building_id %></td>
  </tr>
<% }) %>
</table>

<% include footer %>
